@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}
  

*{
    margin: 0;
    padding: 0;
}
nav{
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.name{
    font-size: 2rem;
}
.name:hover{
    cursor: default;
}

.links a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    color: black;
}

.links a:hover{
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    color: gray;

}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profileImg{
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto 0;
}

.profileText{
    align-items: center;
    text-align: center;
}

.profileText p{
    font-weight: 600;
}

.profileText_p1{
    text-align: center;
}

.profileText_p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socialMedia{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon{
    cursor: pointer;
    height: 3rem;
}